@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.light-primary);
  --foreground: theme(colors.light-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.dark-background);
    --foreground: theme(colors.dark-text);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-6xl font-bold;
}

h2 {
  @apply text-lg;
}

p {
  @apply text-sm;
}

.hypertext-styling {
  @apply text-blue-600 underline hover:no-underline dark:text-blue-400;
}

.form-styling {
  @apply dark:bg-extra-dark-blue rounded-md border border-b-2 border-b-gray-300 bg-gray-50 p-3 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-0 dark:border-b-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500;
}

.button-styling {
  @apply rounded-md border border-light-primary bg-light-primary text-white dark:bg-extra-light-gray dark:text-black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
